In [9]:
import pandas as pd
import duckdb as db

In [16]:
df_season_results = pd.read_csv('Data/march-machine-learning-mania-2025/MRegularSeasonDetailedResults.csv')

In [17]:
df_season_results

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117743,2025,106,1461,69,1102,62,H,0,25,54,...,23,9,17,2,24,12,8,3,3,24
117744,2025,106,1462,76,1139,63,H,0,29,68,...,23,9,14,4,31,12,20,5,2,12
117745,2025,106,1466,80,1480,62,H,0,28,55,...,18,4,8,6,23,13,13,2,2,18
117746,2025,106,1468,94,1122,68,H,0,36,58,...,32,17,22,7,22,12,10,2,5,17
117747,2025,106,1474,89,1146,72,H,0,28,52,...,23,16,18,5,19,9,15,5,0,17

In [18]:
df_season_results.columns

Index(['Season', 'DayNum', 'WTeamID', 'WScore', 'LTeamID', 'LScore', 'WLoc',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF'],
      dtype='object')

In [19]:
df_season_results_W = df_season_results[['Season', 'WTeamID', 'WScore',
       'NumOT', 'WFGM', 'WFGA', 'WFGM3', 'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR',
       'WAst', 'WTO', 'WStl', 'WBlk', 'WPF']]

In [20]:
df_season_results_W

,Season,WTeamID,WScore,WLoc,NumOT,WFGM,WFGA,WFGM3,WFGA3,WFTM,WFTA,WOR,WDR,WAst,WTO,WStl,WBlk,WPF
0,2003,1104,68,N,0,27,58,3,14,11,18,14,24,13,23,7,1,22
1,2003,1272,70,N,0,26,62,8,20,10,19,15,28,16,13,4,4,18
2,2003,1266,73,N,0,24,58,8,18,17,29,17,26,15,10,5,2,25
3,2003,1296,56,N,0,18,38,3,9,17,31,6,19,11,12,14,2,18
4,2003,1400,77,N,0,30,61,6,14,11,13,17,22,12,14,4,4,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117743,2025,1461,69,H,0,25,54,6,17,13,22,9,27,11,9,3,3,18
117744,2025,1462,76,H,0,29,68,8,25,10,11,4,29,21,9,14,3,15
117745,2025,1466,80,H,0,28,55,2,13,22,29,5,30,11,5,10,2,12
117746,2025,1468,94,H,0,36,58,10,19,12,17,2,27,19,6,4,2,16
117747,2025,1474,89,H,0,28,52,16,29,17,22,4,17,24,6,7,6,17

In [22]:
df_season_results_W['WLoc'].unique()

array(['N', 'H', 'A'], dtype=object)

In [33]:
db.query('''
with base 
as
(
    select Season, WTeamID, WLoc,
    case 
        when WLoc='N' then count(*) else 0 
    end as neutral_wins,
    case 
        when WLoc='A' then count(*) else 0 
    end as away_wins,
    case 
        when WLoc='H' then count(*) else 0 
    end as home_wins
    from df_season_results_W
    group by Season, WTeamID, WLoc
)
select Season, WTeamID, sum(neutral_wins) neutral_wins, sum(away_wins) away_wins, sum(home_wins) home_wins
from base
group by Season, WTeamID
''')

┌────────┬─────────┬──────────────┬───────────┬───────────┐
│ Season │ WTeamID │ neutral_wins │ away_wins │ home_wins │
│ int64  │  int64  │    int128    │  int128   │  int128   │
├────────┼─────────┼──────────────┼───────────┼───────────┤
│   2023 │    1314 │            4 │         4 │        12 │
│   2023 │    1452 │            3 │         3 │        13 │
│   2023 │    1458 │            3 │         5 │         9 │
│   2023 │    1471 │            0 │         6 │         2 │
│   2023 │    1245 │            4 │         9 │        13 │
│   2023 │    1161 │            2 │         4 │         8 │
│   2023 │    1266 │            4 │         8 │        16 │
│   2023 │    1358 │            3 │        10 │         8 │
│   2023 │    1465 │            1 │         4 │        10 │
│   2023 │    1242 │            5 │         7 │        15 │
│     ·  │      ·  │            · │         · │         · │
│     ·  │      ·  │            · │         · │         · │
│     ·  │      ·  │            · │         · │         · │
│   2019 │    1397 │            4 │         7 │        17 │
│   2005 │    1451 │            0 │         4 │         9 │
│   2023 │    1267 │            0 │         9 │        14 │
│   2011 │    1219 │            0 │         3 │         7 │
│   2008 │    1161 │            4 │         0 │         2 │
│   2012 │    1299 │            0 │         4 │         5 │
│   2021 │    1433 │            2 │         5 │        12 │
│   2013 │    1389 │            0 │         4 │         5 │
│   2003 │    1251 │            0 │         3 │        11 │
│   2014 │    1448 │            2 │         1 │        14 │
├────────┴─────────┴──────────────┴───────────┴───────────┤
│ 7972 rows (20 shown)                          5 columns │
└─────────────────────────────────────────────────────────┘

In [34]:
df_season_results_L = df_season_results[['Season', 'LTeamID', 'LScore', 'LFGM', 'LFGA', 'LFGM3', 'LFGA3',
       'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']]
df_season_results_L

,Season,LTeamID,LScore,LFGM,LFGA,LFGM3,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,1328,62,22,53,2,10,16,22,10,22,8,18,9,2,20
1,2003,1393,63,24,67,6,24,9,20,20,25,7,12,8,6,16
2,2003,1437,61,22,73,3,26,14,23,31,22,9,12,2,5,23
3,2003,1457,50,18,49,6,22,8,15,17,20,9,19,4,3,23
4,2003,1208,71,24,62,6,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117743,2025,1102,62,23,49,7,23,9,17,2,24,12,8,3,3,24
117744,2025,1139,63,24,55,6,23,9,14,4,31,12,20,5,2,12
117745,2025,1480,62,27,61,4,18,4,8,6,23,13,13,2,2,18
117746,2025,1122,68,20,59,11,32,17,22,7,22,12,10,2,5,17
117747,2025,1146,72,23,48,10,23,16,18,5,19,9,15,5,0,17